<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKZ9Rm9t6XL-oMnbMdSd4ZROGh1O3dexk</string>
	<key>GCM_SENDER_ID</key>
	<string>1011352025488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.CheckList</string>
	<key>PROJECT_ID</key>
	<string>testing-fb3fa</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-fb3fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011352025488:ios:7cfccf005a01a05f735b15</string>
</dict>
</plist>